/*  FUENTES  */


@font-face {
    font-family: titulo;
    src: url(fuentes/FinishedSympathy.otf);
}


#map {
    height: 80%;
    width: 50%;
    float: left;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: absolute !important;
    z-index: 10 !important;
    top: 0 !important;
    left: 0 !important;
    display: flex !important;
    animation:  modal 2s 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
}

.contenido{
    width: 40%;
    height: 40%;
    margin: auto;
    background: white;
    border-radius: 10px;


}

#cerrar{
    display: none;
}

#cerrar + label{
    position: absolute;
    color: white;
    font-size: 25px;
    z-index: 50;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;
    animation:  modal 2s 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
}

.botones{
    width: 50%;
    float: left;
}

#cerrar:checked + label, #cerrar:checked ~.modal{
    display: none !important;
}

@keyframes modal {
    100%{
        visibility: visible;
        opacity: 1;
    }
    
}


.titulo{
    font-family: titulo;
    width: 50%;
}

.titulo h1{
    font-size: 7vw;
}

.menu{
    width: 50%;
}

.menu ul li{
    width: 20%;
}
